# example:
# SAVE_PATH_LOCAL='imgs/'$SERIES_NAME'/'
# SAVE_PATH_REMOTE='pictures/timelapse/'$SERIES_NAME'/'
# SAVE_EXT='.jpg'
# CAPTURE_CMD='PUT YOUR CAPTURE COMMAND HERE'
# DELAY='60s'


SAVE_PATH_LOCAL='LOCAL PATH'
SAVE_PATH_REMOTE='DROPBOX PATH'
SAVE_EXT='.jpg'
CAPTURE_CMD='PUT YOUR CAPTURE COMMAND HERE'
DELAY='60s'
